@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/*font-family: 'Montserrat', sans-serif;*/
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
abbr,
acronym,
address,
big,
cite,
code,
ins,
small,
sub,
sup {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div img,
dl img,
dt img,
dd img,
ul img,
ol img,
li img,
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img,
pre img,
form img,
fieldset img,
input img,
textarea img,
p img,
blockquote img,
th img,
td img {
    box-sizing: border-box;
}

article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
main,
nav,
section,
video,
object {
    display: block;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td {
    font-weight: normal;
    font-size: 100%;
}

form,
fieldset,
a img {
    border: 0;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

address,
abbr,
address,
big,
cite,
code,
ins,
small,
sub,
sup,
em {
    font-weight: normal;
    font-style: normal;
}

blockquote,
q {
    quotes: none;
}

.accessibility,
.skip,
legend {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    overflow: hidden !important;
    visibility: hidden !important;
}

caption {
    display: none;
}

.null {
    font-size: 0;
    line-height: 0;
}

a img,
input,
textarea,
select,
img {
    vertical-align: middle;
}

time,
progress,
mark,
output {
    display: inline;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.clr {
    clear: both !important;
    float: none !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    overflow: hidden !important;
    visibility: hidden !important;
}

a {
    text-decoration: none;
    outline: none;
    color: #6c6c6c
}

/*a:hover {text-decoration:underline;}*/
a img {
    border: 0;
}

img,
input,
select {
    vertical-align: middle;
}

input {
    font-size: 13px;
    color: #000;
    vertical-align: middle;
    outline: none;
}

select {
    font-size: 13px;
    border: 1px solid #D0D0D0;
    background: #fff;
    outline: none;
}

button {
    outline: none;
}

/*------------------------Reset------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
    outline: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

/* 배경 하단 wave */
.wavyy {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.wavyy .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: cover;    
}

.wavyy .wave.wave1 {
    animation: animate 20s linear infinite;
    z-index: 0.9;
    opacity: 0.4;
    animation-delay: 6s;
    bottom: 0;
}

.wavyy .wave.wave2 {
    animation: animate 10s linear infinite;
    z-index: 0;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 0;
}

.wavyy .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: -1;
    opacity: 0.3;
    animation-delay: -2s;
    bottom: 0;
}

.wavyy .wave.wave4 {
    animation: animate2 3s linear infinite;
    z-index: -2;
    opacity: 0.15;
    animation-delay: 1s;
    bottom: 0;
}

.main_left_top {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 0 0 0 45px;
    float: left;
}
.main_all {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    transition: all ease 0.5s;
}

.main_visual {
    text-align: center;
}

.hide_visual {
    opacity: 0;
    position: absolute;
    top: 4vw;
    left: 10vw;
    display: flex;
    transition: all ease 0.1s;
    background-color: white;
}

.hide_clock {
    position: absolute;
    top: 0%;
    left: 20%;
    background-color: transparent;
}

.hide_lbb {
    z-index: 1;
    margin: 50px 0 0 690px;
}

.main_logo {
    display: inline-flex;
    margin: 0;
}

.main_logo1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 80px;
    padding: 0 15px 0 0;
}

.main_logo2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 72px;
}

.main_logo_bottom {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 0 0 0 255px;
}

.tap_img {
    z-index: 3;
    margin: 125px 0 175px 0;
    transition: all ease 0.3s;
}

.tap_img:active {
    opacity: 30%;
}

.tap_img:active~.hide_visual {
    opacity: 100%;
}

.tap_img:active~.hide_visual {
    left: -4vw;
    transition: all ease 0.4s;
}

.reser_tap {
}

.reser_cont1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;

}

.reser_wrap {
    width: 150px;
    padding: 50px 30px 50px 30px;
    position: absolute;
    left: 40px;
    bottom: 80px;
    transition: all 0.5s;
    border-right: 8px solid #ffd159;
    border-bottom: 1px solid #ffd159;
    border-radius: 100px;
    background-color: rgb(252, 252, 252);
}

.reser_wrap:hover {
    background-color: #ffd159;
    background-image: url(../images/reser_arrow.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
    color: transparent;
}

.reser_cont2 {
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    padding: 10px 30px 10px 50px;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    bottom: 90px;
    left: -30px;
    transition: all 0.5s;
    text-align: center;
}

.reser_cont2:hover {
    background-color: #ffd159;
    color: #fff;
    border-radius: 200px;
    right: 90px;
}

/*about css*/
ul {
    list-style: none;
}

li {
    float: left;
}

.about_left_top {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    position: relative;
    padding: 30px 0 0 45px;
    float: left;
}

.about_title {
    padding: 30px 0 0 200px;
}

.about_title_cont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.about_point {
    padding-left: 210px;
}

.about_visual {
    float: right;
    text-align: right;
    padding: 0 100px 0 0;
}

.share_the_bottom {
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    padding: 10px 135px 0 0;
}

.about_logo {
    padding: 420px 0 0 30px;
    float: left;
}

.about_menu_tab_title {
    position: absolute;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 0 700px;
}

.about_menu_tab_title li {
    padding: 0 30px;
    transition: all ease 0.1s;
}

.about_menu_tab_title li:hover {
    font-weight: 700;
    color: black;
}

.swiper-container.sec2 {
    padding: 0px 0 0 100px;
    margin: 180px 0 0 0;
}

.swiper-slide {

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: stretch;
}

/*newsroom css*/
.nr_left_top {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    position: relative;
    padding: 30px 0 0 45px;
    float: left;
}

.nr_title {
    padding: 30px 0 0 200px;
}

.nr_title_cont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.nr_point {
    padding-left: 13px;
}

.nr_logo {
    padding: 420px 0 0 30px;
    float: left;
}

.nr_menu_tab_title {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 0 700px;
}

.nr_menu_tab_title li {
    padding: 0 30px;
    transition: all ease 0.1s;
}

.nr_menu_tab_title li:hover {
    font-weight: 700;
    color: black;
}

.swiper-container.sec3 {
    width: 2200px;
    margin: 0 0 85px 0;
    background-color: transparent;
}

.nr_slide2 {
    margin-top: 180px;
}

.nr_slide_atc2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 4%;
}

.nr_slide_title2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 2%;
}

.nr_slide_p2 {
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 4%;
}

.nr_slide_day2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.nr_slide_img2 {
    margin-bottom: 100px;
}

.nr_slide1 {
    position: relative;
    margin-top: 180px;
}

.nr_slide_atc1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 4%;
}

.nr_slide_title1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 2%;
}

.nr_slide_p1 {
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 4%;
    background-color: transparent;
}

.nr_slide_day1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.nr_slide_img1 {
    position: absolute;
    top: -152px;
    left: 520px;
    margin-bottom: 100px;
}

/*gallery css*/
.gl_left_top {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    position: relative;
    padding: 30px 0 0 45px;
    float: left;
}

.gl_title {
    padding: 30px 0 0 200px;
}

.gl_title_cont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.gl_point {
    padding-left: 228px;
}

.gl_logo {
    float: left;
    padding: 420px 0 0 30px;
}

.swiper-container.sec4 {
    margin: 8px 0 20px 50px;
}

.swiper-wrapper {
    display: flex;
    margin: 0 0 0 300px;
}

.swiper-wrapper.sec4 div {
    padding-left: 8px;
}

.img_1-1_hover {
    z-index: -1;
    transition: all ease 0.3s;
}

.img_1-1_title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.img_1-2_title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.img_1-3_title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.img_1-4_title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.img_2-1_title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.img_2-2_title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.img_2-3_title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.img_2-4_title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.img_1-1_hover:hover {
    transform: scale(1.1);
}

.img_1-1_hover:hover~.img_1-1_title {
    display: block;
    position: absolute;
    top: -24%;
    left: 12%;
    transition: all ease 9s;
}

.img_1-2_hover {
    transition: all ease 0.3s;
}

.img_1-2_hover:hover {
    transform: scale(1.1);
}

.img_1-2_hover:hover~.img_1-2_title {
    display: block;
    position: absolute;
    top: -24%;
    left: 12%;
    transition: all ease 9s;
}

.img_1-3_hover {
    transition: all ease 0.3s;
}

.img_1-3_hover:hover {
    transform: scale(1.1);
}

.img_1-3_hover:hover~.img_1-3_title {
    display: block;
    position: absolute;
    top: -24%;
    left: 12%;
    transition: all ease 9s;
}

.img_1-4_hover {
    transition: all ease 0.3s;
}

.img_1-4_hover:hover {
    transform: scale(1.1);
}

.img_1-4_hover:hover~.img_1-4_title {
    display: block;
    position: absolute;
    top: -24%;
    left: 12%;
    transition: all ease 9s;
}

.img_2-1_hover {
    transition: all ease 0.3s;
}

.img_2-1_hover:hover {
    transform: scale(1.1);
}

.img_2-1_hover:hover~.img_2-1_title {
    display: block;
    position: absolute;
    top: -156.6%;
    left: 11.7%;
    transition: all ease 9s;
}

.img_2-2_hover {
    transition: all ease 0.3s;
}

.img_2-2_hover:hover {
    transform: scale(1.1);
}

.img_2-2_hover:hover~.img_2-2_title {
    display: block;
    position: absolute;
    top: -156.6%;
    left: 11.7%;
    transition: all ease 9s;
}

.img_2-3_hover {
    transition: all ease 0.3s;
}

.img_2-3_hover:hover {
    transform: scale(1.1);
}

.img_2-3_hover:hover~.img_2-3_title {
    display: block;
    position: absolute;
    top: -156.6%;
    left: 11.7%;
    transition: all ease 9s;
}

.img_2-4_hover {
    transition: all ease 0.3s;
}

.img_2-4_hover:hover {
    transform: scale(1.1);
}

.img_2-4_hover:hover~.img_2-4_title {
    display: block;
    position: absolute;
    top: -156.6%;
    left: 11.7%;
    transition: all ease 9s;
}

.slide2-1_2-4 {
    z-index: -1;
    display: flex;
    position: absolute;
    bottom: -82%;
    left: -0.5%;
}

.gl_menu_tab_title {
    position: absolute;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 0 700px;
}

.gl_menu_tab_title li {
    padding: 0 30px;
    transition: all ease 0.1s;
}

.gl_menu_tab_title li:hover {
    font-weight: 700;
    color: black;
}

/*contact css*/
.ct_left_top {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    position: relative;
    padding: 30px 0 0 45px;
    float: left;
}

.contact_main {
    padding: 30px 0 0 0;
}

.contact_left {
    display: inline-block;
    text-align: left;
    padding: 0 0 0 350px;
}

.contact_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin: 60px 0 0 0;
}

.ct_point {
    padding-left: 59px;
}

.seoul_adress {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 80px 0 0 0;
}

.insta {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding: 60px 0 30px 0;
}

.email {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.contact_box {
    float: right;
    width: 580px;
    border-radius: 30px;
    background: #e3e3e3;
    box-shadow: 11px 11px 21px #c3c3c3,
        -11px -11px 21px #ffffff;
    margin: 30px 250px 0 0;
}

.ctct_box1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    width: 580px;
    height: 100px;
    background-color: white;
    border: 1px solid #140f02;
    border-bottom: hidden;
    float: right;
    margin: 0 0 0 0;
    padding-top: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.ctct_box2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 580px;
    height: 100px;
    background-color: white;
    border: 1px solid #140f02;
    padding: 65px 0 0 50px;
    border-bottom: hidden;
    clear: both;
}

.ctct_box3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 580px;
    height: 50px;
    background-color: white;
    border: 1px solid #140f02;
    padding: 15px 0 0 50px;
    border-bottom: hidden;
}

.ctct_box4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 580px;
    height: 100px;
    background-color: white;
    border: 1px solid #140f02;
    padding: 65px 0 0 50px;
    border-bottom: hidden;
}

.ctct_box5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 580px;
    max-width: 800px;
    height: 300px;
    background-color: white;
    border: 1px solid #140f02;
    padding: 15px 0 0 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    background-color: transparent;
}

.send_btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    background-color: #ffd159;
    bottom: 18%;
    right: 14.5%;
    padding: 8px 30px;
    text-align: center;
    border: 0px !important;
    border-radius: 30px;
    cursor: pointer;
}

.np {
    float: right;
    padding: 15px;
}

.ct_logo {
    padding: 17px 0 0 30px;
    float: left;
}


.ct_menu_tab_title {
    position: absolute;
    bottom: 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 0 700px;
}

.ct_menu_tab_title li {
    padding: 0 30px;
    transition: all ease 0.1s;
}

.ct_menu_tab_title li:hover {
    font-weight: 700;
    color: black;
}

.left_footer {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 50px 15px;
}

.sns {
    display: flex;
    position: absolute;
}

.sns_footer1 img {
    width: 70%;
}

.sns_footer2 img {
    width: 70%;
}

.right_footer {
    float: right;
    text-align: right;
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin: 0 15px 50px 0;
}

.footer_cont {
    margin: 15px 0;
}

.news_sub {
    margin: 150px auto 0;
}

.news_sub_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 0 0 15px 160px;
}

.sub_box {
    width: 400px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 9px 9px 15px #c3c3c3,
        -9px -9px 21px #ffffff;
}

.newsletter {
    margin: 10px 0 5px -60px;
}

.designer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #6c6c6c;
    opacity: 50%;
    margin: 50px 0 50px 170px;
    text-align: center;
}


#section2 .intro #container .about_title .about_point img {
    position: relative;
    left: 130%;
    transition: all 1200ms ease;
}

#section2 .intro #container .about_visual .share_the {
    opacity: 0;
    transition: all 600ms ease;
}

#section2 .intro #container .about_visual .share_the_bottom {
    position: relative;
    opacity: 0;
    right: 20%;
    transition: all 1500ms ease;
}

#section3 #container .nr_title .nr_point {
    left: 130%;
    position: relative;
    transition: all 1200ms ease;
}

#section3 #container .swiper-container.sec3 {
    opacity: 0;
    transition: all 1800ms ease;
}

#section4 #container .swiper-container.sec4 {
    opacity: 0;
    transition: all 1800ms ease;
}

#section4 #container .gl_title .gl_point {
    left: 130%;
    position: relative;
    transition: all 1200ms ease;
}

#section5 #container .contact_main .ct_point {
    left: 130%;
    position: relative;
    transition: all 1200ms ease;
}