@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, abbr, acronym, address, big, cite, code, ins, small, sub, sup {padding:0; margin:0;  box-sizing:border-box;}
div img, dl img, dt img, dd img, ul img, ol img, li img, h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, pre img, form img, fieldset img, input img, textarea img, p img, blockquote img, th img, td img{box-sizing:border-box;}
article, aside, figure, figure img, figcaption, hgroup, footer, header, main, nav, section, video, object {display:block;  box-sizing:border-box;}
table{ border-collapse:collapse; border-spacing:0; }
ol, ul, li{ list-style:none; }
h1, h2, h3, h4, h5, h6, th, td{ font-weight:normal; font-size:100%; }
form, fieldset, a img{ border:0; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
address, abbr, address, big, cite, code, ins, small, sub, sup, em{ font-weight:normal; font-style:normal; }
blockquote, q{ quotes:none; }
.accessibility, .skip, legend
{ position:absolute !important; width:0 !important; height:0 !important; font-size:0 !important; line-height:0 !important; overflow:hidden !important; visibility:hidden !important; }
caption{ display:none; }
.null{ font-size:0; line-height:0; }
a img, input, textarea, select, img{ vertical-align:middle; }
time, progress, mark, output { display:inline; }
.hide{ position:absolute; top:-9999px; left:-9999px; }
.clr{ clear:both !important; float:none !important; width:0 !important; height:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; overflow:hidden !important; visibility:hidden !important; }
a {text-decoration:none; outline:none; color:#6c6c6c}
/*a:hover {text-decoration:underline;}*/
a img{ border:0; }
img, input, select{ vertical-align:middle; }
input{ font-size:13px; color:#000; vertical-align:middle; outline:none;}
select{ font-size:13px; border:1px solid #D0D0D0; background:#fff; outline:none;}
button {outline:none;}

/*------------------------Reset------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
    background: linear-gradient(45deg, #ffffff, #ffd159, #ffffff, #ffd159, #ffffff);
    background-size: 800% 800%;
    animation: gradient 6s ease-out infinite alternate;
   }
   
   @keyframes gradient {
    0% {
     background-position: 20% 20%;
    }
    25% {
     background-position: 40% 40%;
    }
    50% {
     background-position: 60% 60%;
    }
    75% {
     background-position: 80% 80%;
    }
    100% {
     background-position: 100% 100%;
    }
   }
@media (max-width: 768px) {

.snazzymenu .menu-toggle:after .less_but_better {opacity: 0;}
.box1 {
    z-index: -100;
    width: 85%;
    height: 85vh;
    position: relative;
    margin: 6% auto;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    }
.title_01 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 3vh;
    position: absolute;
    top: -3.8vh;
    left: 0%;
}
.box1-1 {
        width: 100%;
        height: 54%;
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0 0 auto;
        background-color: transparent;
        border-bottom: 1px solid black;
    }
.less_but_better {
    opacity: 1;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300; 
    font-size: 10vh;
    position: absolute;
    text-align: left;
    bottom: 1vh;
    left: 4.4vw;
    right: 0;
}
.box2 {
    z-index: -100;
    width: 85%;
    height: 85vh;
    position: relative;
    margin: 12% auto;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    }
.title_02 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 3vh;
    position: absolute;
    top: 4%;
    left: 8%;
}
}
.about_title {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 4vh;
    text-align: center;
    margin: 2.6vh 0 0 0;
    color: #000;
}
.about_line {
    text-align: center;
    margin-bottom: 5.2vh;
}
.about_img {margin: 0 auto;}
.about_1-1 {
            position: relative;
            display: inline;
            left: 0.1vh;
        }
.about_1-2 {
            position: relative;
            display: inline;
            top: 6.6vw;
            right: 0.8vh;
        }
.about_1-3 {
            position: inline;
            padding-right: 17.4vw;
        }
.about_rec {
    position: absolute;
    top: 39vh;
    left: 42vw;
    -webkit-animation: rotation 6s infinite linear reverse;
    transition: all ease 0.5s;
}
.about_cont1 {
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: normal;
    font-style: normal;
    font-size: 5.5vh;
    text-align: center;
    margin: 6% 0 0 0;
}
.about_cont2 {
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: normal;
    font-style: normal;
    font-size: 1.6vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
}
.box3 {
    z-index: -100;
    width: 85%;
    height: 200vh;
    position: relative;
    margin: 16% auto;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    overflow: scroll;
    }
.article_second {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 3vh;
    width: 90%;
    margin: 5vh auto;
}
.article2 {
    position: relative;
    display: inline;
    right: 1.8vh;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300; 
    font-size: 3.5vh;
    padding: 0 1vh;
}
.day_month_year {
    position: relative;
    display: inline;
    left: 1.8vh;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300; 
    font-size: 2.3vh;
    padding: 0 1vh;
}
.title_03 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 3vh;
    position: absolute;
    top: 2.5%;
    left: 8%;
}
.nr_title {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 4vh;
    text-align: center;
    margin: 2.6vh 0 0 0;
    color: #000;
}    
.nr_line {
    text-align: center;
    margin-bottom: 2vh;
}
.nr_notice {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 3vh;
    text-align: center;
    color: #000;
    margin-bottom: 1.8vh;
    padding-top: 5vh;
}
.nr_cont1 {
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: normal;
    font-style: normal;
    font-size: 1.8vh;
    color: rgb(43, 43, 43);
}
.nr_cont1 span {
    font-family: 'S-CoreDream-6Bold';
}
.mask_red {color: red;}
.article_first {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 3vh;
    width: 90%;
    margin: 5vh auto;
}
.article1 {
    position: relative;
    display: inline;
    right: 1.8vh;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300; 
    font-size: 3.5vh;
    padding: 0 1vh;
}
.nr_open {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 3vh;
    text-align: center;
    color: #000;
    margin-bottom: 1.8vh;
    padding-top: 5vh;
}
.nr_open span {
    font-size: 4.8vh !important;
}
.nr_cont2 {
    font-family: 'S-CoreDream-2ExtraLight';
    font-weight: normal;
    font-style: normal;
    font-size: 1.8vh;
    color: rgb(43, 43, 43);
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.box4 {
    z-index: 1100;
    width: 85%;
    height: 145vh;
    position: relative;
    margin: 8vh auto;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    overflow: scroll;
    scroll-snap-type: none;
    }
.title_04 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 3vh;
    position: absolute;
    top: 3%;
    left: 8%;
}
.gl_title {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 4vh;
    text-align: center;
    margin: 2.6vh 0 0 0;
    color: #000;
}
.gl_line {
    text-align: center;
    margin-bottom: 3.2vh;
}
.gl_img_1 {
    margin-top: 6vh;
}
.img_1_title {
    z-index: 1100;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 2.4vh;
    color: black;
    margin-bottom: 1.4vh;
}
.img_1_cont {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 1.8vh;
    color: black;
    margin-bottom: 1.4vh;
}
.img_1_cont span {
    color: #ffd159;
}
.gl_img_2 {
    margin-top: 6vh;
}
.img_2_title {
    z-index: 1100;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 2.4vh;
    color: black;
    margin-bottom: 1.4vh;
}
.img_2_cont {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 1.8vh;
    color: black;
    margin-bottom: 1.4vh;
}
.img_2_cont span {
    color: #ffd159;
}
.gl_img_3 {
    margin-top: 6vh;
}
.img_3_title {
    z-index: 1100;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 2.4vh;
    color: black;
    margin-bottom: 1.4vh;
}
.img_3_cont {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 1.8vh;
    color: black;
    margin-bottom: 1.4vh;
}
.img_3_cont span {
    color: #ffd159;
}
.box5 {
    z-index: -100;
    width: 85%;
    height: 85vh;
    position: relative;
    margin: 6% auto;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    }
.title_05 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 3vh;
    position: absolute;
    top: 4%;
    left: 8%;
}
.ct_title {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    font-size: 4vh;
    text-align: center;
    margin: 2.6vh 0 0 0;
    color: #000;
}
.ct_line {
    text-align: center;
    margin-bottom: 3.2vh;
}
.ct_address {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500; 
    font-size: 1.9vh;
    text-align: left;
    margin-left: 3vh;
    margin: 3vh;
}
.ct_number {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500; 
    font-size: 2vh;
    text-align: left;
    margin-left: 3vh;
}
.ct_insta {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600; 
    font-size: 2.6vh;
    text-align: right;
    margin-right: 3vh;
}
.ct_mail {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500; 
    font-size: 2vh;
    text-align: right;
    margin-right: 3vh;
    margin-bottom: 6vh;
}
.ct_box {
    width: 90%;
    border-radius: 2.4vh;
    background: #e3e3e3;
    box-shadow:  2px 2px 4px #c3c3c3,
                -2px -2px 4px #ffffff;
    margin: 0 auto;
}
.ct_box1 {font-family: 'Montserrat', sans-serif; 
    font-weight: 600; 
    font-size: 3.4vh;
    width: 100%;
    height: 7vh;
    background-color: white;
    border: 1px solid #140f021a;
    border-bottom: hidden;
    margin: 0 0 0 0;
    padding-top: 2.4vh;
    padding-left: 4.5%;
    text-align: left;
    border-top-left-radius: 2.4vh;
    border-top-right-radius: 2.4vh;}

.ct_box2 {font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 2.2vh;
    width: 100%;
    height: 5.5vh;
    text-align: left;
    background-color: white;
    border: 1px solid #140f021a;
    border-bottom: hidden;
    clear: both;
    padding-top: 5%;    
    padding-left: 10%;
}

.ct_box4 {font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 2.2vh;
    width: 100%;
    height: 5.5vh;
    text-align: left;
    background-color: white;
    border: 1px solid #140f021a;
    border-bottom: hidden;
    padding-top: 5%; 
    padding-left: 2%;
}

.ct_box5 {font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 2.2vh;
    width: 100%;
    max-width: 800px;
    height: 7vh;
    background-color: white;
    border: 1px solid #140f021a;
    border-bottom-left-radius: 2.4vh;
    border-bottom-right-radius: 2.4vh;
    text-align: right;}

textarea {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400; 
    font-size: 2.2vh;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    background-color: transparent;
}

.send_btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    font-size: 1.4vh;
    background-color: #ffd159;
    margin: 1.2vh;
    padding: 1.2vh 2.4vh;
    border: 0px !important;
    border-radius: 30px;
    cursor: pointer;
}
.box6 {
    z-index: -100;
    width: 100%;
    height: 28vh;
    position: relative;
    background-color: #fff;
    }
.top_footer {
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 0.6vh;
    padding-top: 6%;
}
.newsletter {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 2.4vh;
    color: #000;
    margin-top: 3.6vh;
}
.sub_box {
    width: 36vh;
    height: 4.6vh;
    border: 1px solid #140f021a;
    text-align: center;
    margin: auto;
    border-radius: 5vh;
    background: #ffffff;
    box-shadow:  2px 2px 4px #c3c3c3,
                -2px -2px 4px #ffffff;
    padding-top: 1.6%;
}
.newsletter_box {
    border-bottom: 1px solid #140f021a;
    font-size: 2vh;
    width: 28vh;
}
.bottom_footer {
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4vh;
    padding-top: 10%;
}
