@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, abbr, acronym, address, big, cite, code, ins, small, sub, sup {padding:0; margin:0;  box-sizing:border-box;}
div img, dl img, dt img, dd img, ul img, ol img, li img, h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, pre img, form img, fieldset img, input img, textarea img, p img, blockquote img, th img, td img{box-sizing:border-box;}
article, aside, figure, figure img, figcaption, hgroup, footer, header, main, nav, section, video, object {display:block;  box-sizing:border-box;}
table{ border-collapse:collapse; border-spacing:0; }
ol, ul, li{ list-style:none; }
h1, h2, h3, h4, h5, h6, th, td{ font-weight:normal; font-size:100%; }
form, fieldset, a img{ border:0; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
address, abbr, address, big, cite, code, ins, small, sub, sup, em{ font-weight:normal; font-style:normal; }
blockquote, q{ quotes:none; }
.accessibility, .skip, legend
{ position:absolute !important; width:0 !important; height:0 !important; font-size:0 !important; line-height:0 !important; overflow:hidden !important; visibility:hidden !important; }
caption{ display:none; }
.null{ font-size:0; line-height:0; }
a img, input, textarea, select, img{ vertical-align:middle; }
time, progress, mark, output { display:inline; }
.hide{ position:absolute; top:-9999px; left:-9999px; }
.clr{ clear:both !important; float:none !important; width:0 !important; height:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; overflow:hidden !important; visibility:hidden !important; }
a {text-decoration:none; outline:none; color:#6c6c6c}
/*a:hover {text-decoration:underline;}*/
a img{ border:0; }
img, input, select{ vertical-align:middle; }
input{ font-size:13px; color:#000; vertical-align:middle; outline:none;}
select{ font-size:13px; border:1px solid #D0D0D0; background:#fff; outline:none;}
button {outline:none;}

/*------------------------Reset------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*about css*/
ul {list-style: none;}
li {float: left;}

.about_left_top {font-family: 'Montserrat', sans-serif; 
    font-weight: 300; 
    font-size: 16px;
    position: relative;
    padding: 30px 0 0 45px;
    float: left;}

.about_title {padding: 30px 0 0 200px;}

.about_title_cont {font-family: 'Montserrat', sans-serif; 
            font-weight: 700; 
            font-size: 64px;}

.about_point {padding-left: 210px;}

.about_visual {float: right;
       text-align: right;
       padding: 0 100px 0 0;}

.share_the_bottom {font-family: 'S-CoreDream-2ExtraLight';
            font-weight: normal;
            font-style: normal;
            font-size: 20px;
            padding: 10px 135px 0 0;}

.about_logo {padding: 420px 0 0 30px;
             float: left;}

.about_menu_tab_title {font-family: 'Montserrat', sans-serif; 
          font-weight: 500; 
          font-size: 20px;
          padding: 70px 0 0 700px;}
          
.about_menu_tab_title li {padding: 0 30px;
             transition: all ease 0.5s;}
.about_menu_tab_title li:hover {font-weight: 700;
                   color: black;}

.swiper-container {width: 1600px;
            padding: 30px 0 0 100px;}
               
.swiper-slide {text-align: center;
        font-size: 18px;
        background: #fff;
               
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;}